:root {
    --color-light-transparent: hsla(0, 0%, 94%, 0.9);
    --color-primary: #52DEE5;
    --color-secondary: hsl(344deg 45% 13%);

    --font-family: 'Share Tech Mono', monospace;
}
body{
    background-color: #EEE5E9;
}

a:hover {
    color: var(--color-secondary);
}

footer a {
    color: var(--color-light);
}

h1, h2, h3 {
    font-family: var(--font-family);
}

.navbar {
    background-color: #92DCE5;
    position: sticky;
    top: 0;
}

.hero {

    background-image: url(../img/jeremy-bishop-h9NU6laTNzM-unsplash.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
}

.hero > .container {
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    opacity: 0.4;
    z-index: 1;
}


.btn:hover {
    color: var(--color-dark);
    background-color: var(--color-primary);
}


.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

@media (max-width: 48rem) {
    .about {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 1rem;
    }
}

.logo{
    width: 80px;
   height: 80px;
}

.centertext {
    text-align: center;
}
